/* You can add global styles to this file, and also import other style files */
body {
	background-image: url("./assets/city-background.png");
	margin: 0;
}

canvas {
	cursor: crosshair;
	display: block;
}
